<map name="ProcessOutline">
        <area shape=poly coords="462,263,616,263,626,270,626,297,462,297,462,263" href="{{ ref . "image_map_example.md#project-proposal-reflection" }}">
        <area shape=poly coords="462,96,616,96,626,103,626,131,462,131,462,96" href="{{ ref . "image_map_example.md#project-proposal" }}">
        <area shape=poly coords="462,211,616,211,626,218,626,246,462,246,462,211" href="{{ ref . "image_map_example.md#team-agreement" }}">
</map>
<img border=0 src="/images/process_outline.png" usemap="#ProcessOutline">

<script language="javascript" type="text/javascript" src="/js/imageMapResizer.min.js"></script>

<script>
  imageMapResize();
</script>
